<!DOCTYPE html>
<html>
<head>
<title>Bulletin Board Error Page</title>
</head>
<body>
	<h1>Error</h1>
	<h3>You need data in both fields</h3>

	<a href="http://localhost:3000/form">Click to return to Forms</a>
</body>
</html>
