<!DOCTYPE html>
<html>
<head>
<title>Bulletin Board Page</title>
<link  rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class = "container">
	<h1>MY DATABASE</h1>

	<table>
  			<% for (let i = 0; i < title.length; i++) { %>
          <tr>
						<td><%= title[i].id %></td>
						<td><%= title[i].title %></td>
					  <td><%= title[i].body %></td>
					  <td><%= title[i].created %></td>
					</tr>
				<% } %>
  		</table>

			<a href="http://localhost:3000/form">Change to add to Database</a>
		</div>
</body>
</html>
